{% extends 'base.html.twig' %}

{% block title %}Créer/Modifier Utilisateur{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6 col-lg-4">
            <h1 class="h4 mb-4 text-center">Formulaire Utilisateur</h1>

            {{ form_start(form, {'attr': {'class': 'border p-3 bg-light shadow-sm rounded'}}) }}
            
            <div class="form-group mb-2">
                {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.email, {
                    'attr': {
                        'class': 'form-control',
                        'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$',  
                        'title': 'Veuillez entrer une adresse e-mail valide.'
                    }
                }) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group mb-2">
                {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group mb-2">
                {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="form-group mb-2">
                {{ form_label(form.lastName, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lastName) }}
            </div>

            <div class="form-group mb-2">
                {{ form_label(form.firstName, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.firstName) }}
            </div>

            <div class="form-group mb-2">
                {{ form_label(form.phone, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.phone, {
                    'attr': {
                        'class': 'form-control',
                        'pattern': '^(0[1-9]{1})([0-9]{8})$',  
                        'title': 'Veuillez entrer un numéro de téléphone valide à 10 chiffres.'
                    }
                }) }}
                {{ form_errors(form.phone) }}
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Soumettre</button>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
