{% extends 'base.html.twig' %}

{% block body %}

    <!-- SECTION -->
    <div class="section">
        <!-- conteneur -->
        <div class="container">
            <!-- ligne -->
            <div class="row">

                <div class="col-md-7">
<!-- Détails de facturation -->
<div class="billing-details">
    <div class="section-title">
        <h3 class="title">Recapitulatif de facturation</h3>
    </div>
    <div class="form-group">
        <input class="input" type="text" name="first-name" placeholder="Prénom" value="{{ app.user.firstName ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="text" name="last-name" placeholder="Nom de famille" value="{{ app.user.lastName ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="email" name="email" placeholder="Email" value="{{ app.user.email ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="text" name="address" placeholder="Adresse" value="{{ app.user.address ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="text" name="city" placeholder="Ville" value="{{ app.user.city ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="text" name="country" placeholder="Pays" value="{{ app.user.country ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="text" name="zip-code" placeholder="Code Postal" value="{{ app.user.zipCode ?? '' }}">
    </div>
    <div class="form-group">
        <input class="input" type="tel" name="tel" placeholder="Téléphone" value="{{ app.user.phoneNumber ?? '' }}">
    </div>
    <div class="form-group">
        <div class="input-checkbox">
        
            <label for="create-account">
               
                Changer de compte?
            </label>
    
        </div>
    </div>
</div>
<!-- /Détails de facturation -->

<!-- Détails de livraison -->
<div class="shiping-details">
    <div class="section-title">
        <h3 class="title">Adresse de livraison</h3>
    </div>
    <div class="input-checkbox">
        <input type="checkbox" id="shiping-address">
        <label for="shiping-address">
            <span></span>
            Expédier à une adresse différente ?
        </label>
        <div class="caption">
            <div class="form-group">
                <input class="input" type="text" name="shipping-first-name" placeholder="Prénom" value="{{ app.user.shippingFirstName ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="text" name="shipping-last-name" placeholder="Nom de famille" value="{{ app.user.shippingLastName ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="email" name="shipping-email" placeholder="Email" value="{{ app.user.shippingEmail ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="text" name="shipping-address" placeholder="Adresse" value="{{ app.user.shippingAddress ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="text" name="shipping-city" placeholder="Ville" value="{{ app.user.shippingCity ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="text" name="shipping-country" placeholder="Pays" value="{{ app.user.shippingCountry ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="text" name="shipping-zip-code" placeholder="Code Postal" value="{{ app.user.shippingZipCode ?? '' }}">
            </div>
            <div class="form-group">
                <input class="input" type="tel" name="shipping-tel" placeholder="Téléphone" value="{{ app.user.shippingPhoneNumber ?? '' }}">
            </div>
        </div>
    </div>
</div>
<!-- /Détails de livraison -->

                    <!-- Notes de commande -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Notes de commande"></textarea>
                    </div>
                    <!-- /Notes de commande -->
                </div>

               <!-- Détails de la commande -->
<div class="col-md-5 order-details">
    <div class="section-title text-center">
        <h3 class="title">Votre commande</h3>
    </div>
    <div class="order-summary">
        <div class="order-col">
            <div>
                <strong>PRODUIT</strong>
            </div>
            <div>
                <strong>TOTAL</strong>
            </div>
        </div>
        <div class="order-products">
            {% for produit in produits %}
                <div class="order-col">
                    <div>{{ produit.quantite }}x {{ produit.nom }}</div>
                    <div>{{ produit.montant }} €</div>
                </div>
            {% endfor %}
        </div>
        <div class="order-col">
            <div>Livraison</div>
            <div>
                <strong>GRATUIT</strong>
            </div>
        </div>
        <div class="order-col">
            <div>
                <strong>TOTAL</strong>
            </div>
            <div>
                <strong class="order-total">{{ montantTotal }} €</strong>
            </div>
        </div>
    </div>

    <!-- Options de paiement -->
    <div class="payment-method">
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-1" checked>
            <label for="payment-1">
                <span></span>
                Virement bancaire direct
            </label>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-2">
            <label for="payment-2">
                <span></span>
                Paiement par chèque
            </label>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-3">
            <label for="payment-3">
                <span></span>
                Système Paypal
            </label>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <!-- Conditions générales -->
    <div class="input-checkbox">
        <input type="checkbox" id="terms" required>
        <label for="terms">
            <span></span> J'ai lu et j'accepte les
            <a href="#">termes et conditions</a>.
        </label>
    </div>

    <!-- Bouton de soumission de la commande -->
    <a href="#" class="primary-btn order-submit">Passer la commande</a>

</div>
<!-- /Détails de la commande -->
            </div>
            <!-- /ligne -->
        </div>
        <!-- /conteneur -->
    </div>
    <!-- /SECTION -->

{% endblock %}